workflows/Follow-up Handler.json
{
  "name": "Follow-up Handler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -592,
        144
      ],
      "id": "96624a15-4824-40ad-8ec6-46cbd95533b1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM public.leads\nWHERE status = 'emailed'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -416,
        144
      ],
      "id": "b6e4115c-a49c-4efd-ad31-6caef256596f",
      "name": "Get emailed status",
      "credentials": {
        "postgres": {
          "id": "2EcOd9OpTXp8Z4p5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a B2B outreach assistant writing a follow-up email.\n\nHere is the LAST email that was sent in the conversation:\n\n{{ $json.messages[$json.messages.length - 1].snippet }}\n\nFollow-up number:\n{{ $('if followup_count < 3').item.json.followup_count }}\n\nWrite a natural follow-up message continuing this conversation.\n\nRules:\n• Maximum 120 words\n• Friendly and professional\n• Do NOT repeat the same wording\n• Do NOT sound like a template\n• Do NOT include placeholders like [First Name]\n• Do NOT include signature\n• Do NOT repeat the subject\n\nGuidelines:\nFollow-up 1 → gentle reminder\nFollow-up 2 → add value or insight\nFollow-up 3 → polite final follow-up\n\nReturn JSON only:\n\n{\n \"body\": \"\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        192,
        0
      ],
      "id": "f04f2139-1edb-4c68-99eb-04b35f25a63e",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"body\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        352,
        208
      ],
      "id": "fdbe8342-dda2-4001-8f05-53e769d7eb0d",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "32ee6b3e-0979-4787-af07-2becf39346d2",
              "name": "sender_name",
              "value": "King Venreb Narag",
              "type": "string"
            },
            {
              "id": "bcaee577-11ad-40e6-9fb9-875d6da8c4de",
              "name": "sender_role",
              "value": "Automation & AI Systems",
              "type": "string"
            },
            {
              "id": "f219f5b9-857e-49e1-9c14-15ceeb822105",
              "name": "company_website",
              "value": "https://www.kingvenreb.dev",
              "type": "string"
            },
            {
              "id": "dace9319-b362-466f-8ac8-723a03636a96",
              "name": "message_id",
              "value": "={{ $('Get a thread').item.json.messages[$('Get a thread').item.json.messages.length - 1].id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        0
      ],
      "id": "3777dd06-5607-4602-902c-8581395b2d11",
      "name": "Set signature1"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $('Get a thread').item.json.id }}",
        "messageId": "={{ $json.message_id }}",
        "message": "={{ $json.output.body }}\n\nBest Regards,\n{{ $json.sender_name }}\n{{ $json.sender_role }}\n{{ $json.company_website }}",
        "options": {
          "replyToRecipientsOnly": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        752,
        0
      ],
      "id": "505fca5d-8e15-4c43-8e92-162f7a0fc544",
      "name": "Reply to a message",
      "webhookId": "018e309f-8926-4d7c-93aa-b56d3995942c",
      "credentials": {
        "gmailOAuth2": {
          "id": "b2ntJtprvRS48xqc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d1492785-499a-4b15-89af-1829dc448709",
              "leftValue": "={{ $json.followup_count }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        144
      ],
      "id": "408dfb95-be1c-4d4e-899b-d155b34baedb",
      "name": "if followup_count < 3"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "get",
        "threadId": "={{ $json.thread_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "fafc18ee-533e-4ec4-ac7d-77ef240e86af",
      "name": "Get a thread",
      "webhookId": "0e5f4cac-3024-4792-98dc-8222546c4023",
      "credentials": {
        "gmailOAuth2": {
          "id": "b2ntJtprvRS48xqc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        176,
        208
      ],
      "id": "59183efe-c651-4c8b-ae3d-6d298a4aeffd",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "GzZB1QFK5O0xyivB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.leads\nSET\n  last_email_sent_at = NOW(),\n  followup_count = COALESCE(followup_count, 0) + 1\nWHERE id = $1;",
        "options": {
          "queryReplacement": "={{ $('if followup_count < 3').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        960,
        0
      ],
      "id": "b001f95f-9e59-4922-86b8-7d5e1a962957",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "2EcOd9OpTXp8Z4p5",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get emailed status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get emailed status": {
      "main": [
        [
          {
            "node": "if followup_count < 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Set signature1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Set signature1": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if followup_count < 3": {
      "main": [
        [
          {
            "node": "Get a thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a thread": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "HgfbrTcV1vTYGfg6",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "e373f14b-3d08-46d7-a55a-1b68b80275da",
  "meta": {
    "instanceId": "75a203da2afa4f9088428b5121cafd52867cf04f552dbee25573576faa37906a"
  },
  "id": "DgVEC02lNb5sYkVF",
  "tags": []
}