workflows/Lead Intake Service _ Lead Scoring Engine.json
{
  "name": "Lead Intake Service / Lead Scoring Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "typeform/intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -896,
        96
      ],
      "id": "19141055-156c-4880-8c11-96303f2b7974",
      "name": "Webhook",
      "webhookId": "0214bc80-1f9e-4686-bbc3-0679dde20be3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into public.leads (\n  lead_key, source, send_mode,\n  first_name, last_name, email, phone,\n  company, website, domain,\n  industry, service,\n  budget_raw, budget_usd, budget_bucket,\n  description,\n  utm_source, utm_medium, utm_campaign,\n  typeform_form_id, typeform_token, landed_at, submitted_at,\n  status\n) values (\n  $1,$2,$3,\n  $4,$5,$6,$7,\n  $8,$9,$10,\n  $11,$12,\n  $13,$14,$15,\n  $16,\n  $17,$18,$19,\n  $20,$21,$22,$23,\n  $24\n)\non conflict (lead_key) do update set\n  source = excluded.source,\n  send_mode = excluded.send_mode,\n  first_name = excluded.first_name,\n  last_name = excluded.last_name,\n  email = excluded.email,\n  phone = excluded.phone,\n  company = excluded.company,\n  website = excluded.website,\n  domain = excluded.domain,\n  industry = excluded.industry,\n  service = excluded.service,\n  budget_raw = excluded.budget_raw,\n  budget_usd = excluded.budget_usd,\n  budget_bucket = excluded.budget_bucket,\n  description = excluded.description,\n  utm_source = excluded.utm_source,\n  utm_medium = excluded.utm_medium,\n  utm_campaign = excluded.utm_campaign,\n  typeform_form_id = excluded.typeform_form_id,\n  typeform_token = excluded.typeform_token,\n  landed_at = excluded.landed_at,\n  submitted_at = excluded.submitted_at,\n  status = excluded.status\nreturning\n  id,\n  lead_key,\n  created_at,\n  updated_at,\n  (xmax = 0) as inserted;",
        "options": {
          "queryReplacement": "=={{ \n  $json.lead_key }},{{ $json.source }},{{ $json.execution_mode }},\n{{ $json.first_name }},{{ $json.last_name }},{{ $json.email }},{{ $json.phone }},\n{{ $json.company }},{{ $json.website }},{{ $json.domain }},\n{{ $json.industry }},{{ $json.service }},\n{{ $json.budget_raw }},{{ $json.budget_usd }},{{ $json.budget_bucket }},\n{{ $json.description }},\n{{ $json.utm_source }},{{ $json.utm_medium }},{{ $json.utm_campaign }},\n{{ $json.typeform_form_id }},{{ $json.typeform_token }},{{ $json.landed_at }},{{ $json.submitted_at }},\n{{ 'queued' }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        0
      ],
      "id": "d91d16b6-96be-452b-bad4-1273c595469a",
      "name": "Upsert Lead",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "2EcOd9OpTXp8Z4p5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  INSERT INTO public.lead_events (\n    lead_id, lead_key, event_type, run_id, meta\n  ) VALUES (\n    $1, $2, $3, $4, $5\n  )",
        "options": {
          "queryReplacement": "={{ $json.id }},{{ $json.lead_key }},{{ $json.inserted ? \"intake_received\" : \"intake_updated\" }},{{ $execution.id }},{{ JSON.stringify({ \n  send_mode: $('If valid?').item.json.execution_mode, \n  typeform_token: $('If valid?').item.json.typeform_token,\n  utm_source: $('If valid?').item.json.utm_source,\n  utm_medium: $('If valid?').item.json.utm_medium,\n  utm_campaign: $('If valid?').item.json.utm_campaign,\n}) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        144,
        0
      ],
      "id": "eb360225-08aa-4603-8ae0-a07363c8928a",
      "name": "Upsert Lead Success",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "2EcOd9OpTXp8Z4p5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.lead_events (\n  lead_key, event_type, run_id, meta\n) VALUES (\n  $1, $2, $3, $4\n)",
        "options": {
          "queryReplacement": "={{ $json.lead_key }},{{ \"validation_failed\" }},{{ $execution.id }},{{ JSON.stringify({    missing_fields: $('If valid?').item.json.missing_fields,    email: $('If valid?').item.json.email,   comapny: $('If valid?').item.json.company,   source: \"typeform\",}) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -64,
        192
      ],
      "id": "08061afa-73ee-4266-a67b-a1db1736ea13",
      "name": "Validation Failed",
      "credentials": {
        "postgres": {
          "id": "2EcOd9OpTXp8Z4p5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8593099355",
        "text": "=❌ Lead Validation Failed\n\nCompany: {{$json.company || \"N/A\"}}\nEmail: {{$json.email || \"N/A\"}}\nMissing: {{$json.missing_fields}}\n\nRun ID: {{$execution.id}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        144,
        192
      ],
      "id": "ba00e7ea-094d-4852-9c5a-2c19410ca7c4",
      "name": "Notify Validation Failed",
      "webhookId": "f2a5dce5-dca0-4331-ab79-7e2d3ab3af08",
      "credentials": {
        "telegramApi": {
          "id": "TXtMb4cJ54GmfJU8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        352,
        192
      ],
      "id": "b957c88e-2062-4284-bd74-1c136c2220d5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c523976e-5008-4d87-b29f-381237e5c0ee",
              "leftValue": "={{ $json.is_valid }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -320,
        96
      ],
      "id": "ba8e078c-5f24-4aa1-9ac6-c592ecf27a7c",
      "name": "If valid?"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst execution_mode = $json.executionMode;\n\n// Detect source\nconst isTypeform = !!body.form_response;\n\nlet first_name = \"\";\nlet last_name = \"\";\nlet email = \"\";\nlet phone = \"\";\nlet company = \"\";\nlet website = \"\";\nlet industry = \"\";\nlet service = \"\";\nlet budget_raw = \"\";\nlet description = \"\";\n\nlet utm_source = null;\nlet utm_medium = null;\nlet utm_campaign = null;\n\nlet typeform_form_id = null;\nlet typeform_token = null;\nlet submitted_at = null;\nlet landed_at = null;\n\n// ----------------------\n// TYPEFORM PAYLOAD\n// ----------------------\n\nif (isTypeform) {\n\n  const fr = body.form_response ?? {};\n  const answers = fr.answers ?? [];\n  const hidden = fr.hidden ?? {};\n\n  function getByRef(ref) {\n    const a = answers.find(x => x.field?.ref === ref);\n    if (!a) return \"\";\n\n    return (\n      a.text ??\n      a.email ??\n      a.phone_number ??\n      a.url ??\n      (a.choice?.label ?? \"\") ??\n      \"\"\n    );\n  }\n\n  first_name = getByRef(\"first_name\").trim();\n  last_name  = getByRef(\"last_name\").trim();\n  email      = getByRef(\"business_email\").trim().toLowerCase();\n  phone      = getByRef(\"phone_number\").trim();\n  company    = getByRef(\"company_name\").trim();\n  website    = getByRef(\"company_website\").trim();\n  industry   = getByRef(\"industry\").trim();\n  service    = getByRef(\"service\").trim();\n  budget_raw = getByRef(\"budget\").trim();\n  description= getByRef(\"description\").trim();\n\n  utm_source = hidden.utm_source ?? null;\n  utm_medium = hidden.utm_medium ?? null;\n  utm_campaign = hidden.utm_campaign ?? null;\n\n  typeform_form_id = fr.form_id ?? null;\n  typeform_token = fr.token ?? null;\n\n  submitted_at = fr.submitted_at ?? null;\n  landed_at = fr.landed_at ?? null;\n\n}\n\n// ----------------------\n// ANGULAR FORM PAYLOAD\n// ----------------------\n\nelse {\n\n  first_name = body.firstName?.trim() ?? \"\";\n  last_name  = body.lastName?.trim() ?? \"\";\n  email      = body.email?.trim().toLowerCase() ?? \"\";\n  phone      = body.phone?.trim() ?? \"\";\n  company    = body.company?.trim() ?? \"\";\n  website    = body.website?.trim() ?? \"\";\n  industry   = body.industry?.trim() ?? \"\";\n  service    = body.service?.trim() ?? \"\";\n  budget_raw = String(body.budget ?? \"\").trim();\n  description = body.message?.trim() ?? \"\";\n\n  submitted_at = body.submittedAt ?? null;\n  landed_at = $now;\n}\n\n// ----------------------\n// BUDGET PARSER\n// ----------------------\n\nfunction parseBudgetUSD(s) {\n\n  if (!s) return null;\n\n  const t = s.toLowerCase()\n    .replace(/,/g, \"\")\n    .replace(/\\$/g, \"\")\n    .trim();\n\n  const kMatch = t.match(/^(\\d+(\\.\\d+)?)\\s*k$/);\n\n  if (kMatch)\n    return Math.round(parseFloat(kMatch[1]) * 1000);\n\n  const numMatch = t.match(/(\\d+(\\.\\d+)?)/);\n\n  if (!numMatch)\n    return null;\n\n  return Math.round(parseFloat(numMatch[1]));\n}\n\nconst budget_usd = parseBudgetUSD(budget_raw);\n\n// ----------------------\n// BUDGET BUCKET\n// ----------------------\n\nfunction budgetBucket(n) {\n\n  if (n == null) return \"unknown\";\n  if (n < 1000) return \"<1k\";\n  if (n < 5000) return \"1k-5k\";\n  if (n < 15000) return \"5k-15k\";\n\n  return \"15k+\";\n}\n\n// ----------------------\n// DOMAIN EXTRACTION\n// ----------------------\n\nconst domainFromEmail = email.includes(\"@\")\n  ? email.split(\"@\")[1]\n  : \"\";\n\nconst domainFromWebsite = website\n  .toLowerCase()\n  .replace(/^https?:\\/\\//, \"\")\n  .replace(/^www\\./, \"\")\n  .split(\"/\")[0];\n\nconst domain = domainFromEmail || domainFromWebsite;\n\n// ----------------------\n// LEAD KEY\n// ----------------------\n\nconst lead_key =\n  email ||\n  `${company.toLowerCase()}|${domain}`;\n\n// ----------------------\n// VALIDATION\n// ----------------------\n\nconst missing = [];\n\nif (!first_name) missing.push(\"first_name\");\nif (!last_name) missing.push(\"last_name\");\nif (!company) missing.push(\"company\");\nif (!description) missing.push(\"description\");\nif (!email && !domain) missing.push(\"email_or_domain\");\n\n// ----------------------\n// OUTPUT\n// ----------------------\n\nreturn [\n  {\n    json: {\n\n      source: isTypeform ? \"typeform\" : \"angular\",\n\n      execution_mode: execution_mode ?? \"test\",\n\n      utm_source,\n      utm_medium,\n      utm_campaign,\n\n      typeform_form_id,\n      typeform_token,\n\n      submitted_at,\n      landed_at,\n\n      first_name,\n      last_name,\n      email,\n      phone,\n      company,\n      website,\n      domain,\n      industry,\n      service,\n\n      budget_raw,\n      budget_usd,\n      budget_bucket: budgetBucket(budget_usd),\n\n      description,\n\n      lead_key,\n\n      is_valid: missing.length === 0,\n      missing_fields: missing.join(\", \")\n\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        96
      ],
      "id": "2b60337e-e9ed-419d-b879-990902e5ddee",
      "name": "Extract + Normalize Data"
    },
    {
      "parameters": {
        "content": "# Lead Intake Service\n",
        "height": 496,
        "width": 1520
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -960,
        -112
      ],
      "typeVersion": 1,
      "id": "22d4dc4c-ed01-4ce8-ac52-4e7df0d425f2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const v = $('If valid?').first().json;\n\nlet score = 0;\nconst reasons = [];\n\nconst budget = Number(v.budget_usd) || 0;\n\nif (budget >= 15000) {\n  score += 40;\n  reasons.push(\"High budget\");\n} else if (budget >= 5000) {\n  score += 20;\n  reasons.push(\"Mid budget\");\n}\n\nif (v.service === \"AI Integration\") {\n  score += 25;\n  reasons.push(\"AI service interest\");\n}\n\nif (v.industry === \"SaaS\") {\n  score += 15;\n  reasons.push(\"SaaS industry\");\n}\n\nconst email = String(v.email || \"\").toLowerCase();\nconst domain = email.split(\"@\")[1] || \"\";\nconst freeDomains = new Set([\"gmail.com\",\"yahoo.com\",\"outlook.com\",\"hotmail.com\",\"icloud.com\"]);\n\nif (freeDomains.has(domain)) {\n  score -= 10;\n  reasons.push(\"Free email domain\");\n}\n\nscore = Math.max(0, Math.min(100, score));\n\nreturn [{\n  json: {\n    score,\n    score_reasons: reasons\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ],
      "id": "861b8a69-3517-4016-b116-842c97715e19",
      "name": "Score Lead"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.leads\nSET score = $1,\n    score_reasons = (\n      SELECT array_agg(value::text)\n      FROM jsonb_array_elements_text($2::jsonb) AS value\n    ),\n    status = 'scored'\nWHERE id = $3;",
        "options": {
          "queryReplacement": "={{ $json.score }},{{ JSON.stringify($json.score_reasons || []) }},{{ $('Upsert Lead').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        800,
        0
      ],
      "id": "fd993f5e-be84-45e1-8835-23ff19fef004",
      "name": "Update Lead Score",
      "credentials": {
        "postgres": {
          "id": "2EcOd9OpTXp8Z4p5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  INSERT INTO public.lead_events (\n    lead_id, lead_key, event_type, run_id, meta\n  ) VALUES (\n    $1, $2, $3, $4, $5\n  )",
        "options": {
          "queryReplacement": "={{ $('Upsert Lead').item.json.id }},\n{{ $('Upsert Lead').item.json.lead_key }},\n{{ 'lead_scored' }},\n{{ $execution.id }},\n{{ JSON.stringify({ score: $('Score Lead').item.json.score, score_reasons: $('Score Lead').item.json.score_reasons, budget_bucket: $('If valid?').item.json.budget_bucket, service: $('If valid?').item.json.service, industry: $('If valid?').item.json.industry}) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1008,
        0
      ],
      "id": "72e313b3-ab68-44af-a87b-95fcb38f8c30",
      "name": "Insert Lead Score Event",
      "credentials": {
        "postgres": {
          "id": "2EcOd9OpTXp8Z4p5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('If valid?').item.json.execution_mode }}",
                    "rightValue": "test",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5b51f9f4-cb5d-4be8-8a4e-590febc10fce"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "auto-approve (test mode)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9a823090-f70e-4d5e-aab7-9ba0b64dcbd1",
                    "leftValue": "={{ $('If valid?').item.json.execution_mode === \"production\" && $('Score Lead').item.json.score >= 60 }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "auto-approve"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f3e558b8-4352-4c61-9d46-ea9bdd479a29",
                    "leftValue": "={{ $('If valid?').item.json.execution_mode === \"production\" && $('Score Lead').item.json.score < 60 }}",
                    "rightValue": 60,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "for review"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1200,
        -16
      ],
      "id": "e82f09ca-607f-468d-9183-fb24432811d6",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update public.leads\nset status = 'pending_approval'\nwhere id = $1;",
        "options": {
          "queryReplacement": "={{ $('Upsert Lead').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1456,
        0
      ],
      "id": "4a390aa5-21b7-42da-bef6-0bbd2404664e",
      "name": "Update status to pending",
      "credentials": {
        "postgres": {
          "id": "2EcOd9OpTXp8Z4p5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  INSERT INTO public.lead_events (\n    lead_id, lead_key, event_type, run_id, meta\n  ) VALUES (\n    $1, $2, $3, $4, $5\n  )",
        "options": {
          "queryReplacement": "={{ $('Upsert Lead').item.json.id }},\n{{ $('Upsert Lead').item.json.lead_key }},\n{{ 'approval_request' }},\n{{ $execution.id }},\n{{ JSON.stringify(\n  { score: $('Score Lead').item.json.score, \n    score_reasons: $('Score Lead').item.json.score_reasons, \n     lead_summary: {\n    name: `${$('If valid?').item.json.first_name} ${$('If valid?').item.json.last_name}`.trim(),\n    company: $('If valid?').item.json.company,\n    email: $('If valid?').item.json.email,\n    website: $('If valid?').item.json.website,\n    domain: $('If valid?').item.json.domain,\n    service: $('If valid?').item.json.service,\n    budget_usd: $('If valid?').item.json.budget_usd,\n    budget_bucket: $('If valid?').item.json.budget_bucket\n  }\n}) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1664,
        0
      ],
      "id": "71c79b2e-9844-41fb-916e-b38d76162c58",
      "name": "Insert approval request event",
      "credentials": {
        "postgres": {
          "id": "2EcOd9OpTXp8Z4p5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8593099355",
        "text": "=🟡 Lead Approval\n\n🏢 <b>{{ $('If valid?').item.json.company }}</b>\n\n👤 {{ $('If valid?').item.json.first_name }} {{ $('If valid?').item.json.last_name }}\n🌐 {{ $('If valid?').item.json.website }}\n\n💰 Budget: ${{ $('If valid?').item.json.budget_usd }}\n🧠 Service: {{ $('If valid?').item.json.service }}\n\n<b>AI Analysis</b>\n<pre>{{ $json.output }}</pre>\n\nScore: {{ $('Score Lead').item.json.score }}/100",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Approve",
                    "additionalFields": {
                      "callback_data": "=approve_{{ $('Upsert Lead').item.json.id }}"
                    }
                  },
                  {
                    "text": "Reject",
                    "additionalFields": {
                      "callback_data": "=reject_{{ $('Upsert Lead').item.json.id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2224,
        160
      ],
      "id": "0c417a3b-2de9-4cb9-8160-44e6bdf9004d",
      "name": "Send approval",
      "webhookId": "8023a991-4b11-4348-9e5b-8c1fb5447750",
      "credentials": {
        "telegramApi": {
          "id": "TXtMb4cJ54GmfJU8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update public.leads\nset status = 'approved'\nwhere id = $1;",
        "options": {
          "queryReplacement": "={{ $('Upsert Lead').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1456,
        -176
      ],
      "id": "44e487bf-d6fd-403f-ba01-38bdbac6cd49",
      "name": "Update status to approved",
      "credentials": {
        "postgres": {
          "id": "2EcOd9OpTXp8Z4p5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  INSERT INTO public.lead_events (\n    lead_id, lead_key, event_type, run_id, meta\n  ) VALUES (\n    $1, $2, $3, $4, $5\n  )",
        "options": {
          "queryReplacement": "={{ $('Upsert Lead').item.json.id }},\n{{ $('Upsert Lead').item.json.lead_key }},\n{{ 'auto_approved' }},\n{{ $execution.id }},\n{{ JSON.stringify(\n  { score: $('Score Lead').item.json.score, \n    score_reasons: $('Score Lead').item.json.score_reasons, \n     lead_summary: {\n    name: `${$('If valid?').item.json.first_name} ${$('If valid?').item.json.last_name}`.trim(),\n    company: $('If valid?').item.json.company,\n    email: $('If valid?').item.json.email,\n    website: $('If valid?').item.json.website,\n    domain: $('If valid?').item.json.domain,\n    service: $('If valid?').item.json.service,\n    budget_usd: $('If valid?').item.json.budget_usd,\n    budget_bucket: $('If valid?').item.json.budget_bucket\n  }\n}) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1664,
        -176
      ],
      "id": "aa9dbffb-51b2-41e3-a241-8cd1fb728e54",
      "name": "Insert auto approved event",
      "credentials": {
        "postgres": {
          "id": "2EcOd9OpTXp8Z4p5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "update public.leads\nset status = 'needs_review'\nwhere id = $1;",
        "options": {
          "queryReplacement": "={{ $('Upsert Lead').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1456,
        160
      ],
      "id": "7f81eb5c-5bee-45dc-b983-a6711621ab80",
      "name": "Update status to review",
      "credentials": {
        "postgres": {
          "id": "2EcOd9OpTXp8Z4p5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  INSERT INTO public.lead_events (\n    lead_id, lead_key, event_type, run_id, meta\n  ) VALUES (\n    $1, $2, $3, $4, $5\n  )",
        "options": {
          "queryReplacement": "={{ $('Upsert Lead').item.json.id }},\n{{ $('Upsert Lead').item.json.lead_key }},\n{{ 'review_low_score' }},\n{{ $execution.id }},\n{{ JSON.stringify(\n  { score: $('Score Lead').item.json.score, \n    score_reasons: $('Score Lead').item.json.score_reasons, \n     lead_summary: {\n    name: `${$('If valid?').item.json.first_name} ${$('If valid?').item.json.last_name}`.trim(),\n    company: $('If valid?').item.json.company,\n    email: $('If valid?').item.json.email,\n    website: $('If valid?').item.json.website,\n    domain: $('If valid?').item.json.domain,\n    service: $('If valid?').item.json.service,\n    budget_usd: $('If valid?').item.json.budget_usd,\n    budget_bucket: $('If valid?').item.json.budget_bucket\n  }\n}) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1664,
        160
      ],
      "id": "c4faf0d0-e09c-4679-bd73-5d392bdc7cd8",
      "name": "Insert low score event",
      "credentials": {
        "postgres": {
          "id": "2EcOd9OpTXp8Z4p5",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a B2B Lead Qualification Analyst responsible for evaluating inbound leads for potential business opportunities.\n\nYour task is to analyze the lead information and produce a concise professional assessment explaining whether the lead appears to be a strong potential client.\n\nLead Information:\n\nName: {{ $('If valid?').item.json.first_name }} {{ $('If valid?').item.json.last_name }}\nCompany: {{ $('If valid?').item.json.company }}\nInterested Service: {{ $('If valid?').item.json.service }}\nBudget (USD): {{ $('If valid?').item.json.budget_usd }}\nProject Description: {{ $('If valid?').item.json.description }}\n\nEvaluation Criteria:\n\nAssess the lead based on the following factors:\nService alignment with the company’s offerings\nBudget viability relative to a typical B2B engagement\nClarity and seriousness of the project description\nPotential indicators of long-term or strategic value\n\nInstructions:\n\nWrite a concise professional summary explaining why the lead may be a good potential client or why there may be risks.\n\nThe summary must:\nBe 2 to 3 sentences long\nMention both positive signals and potential concerns\nUse a professional and neutral business tone\nFocus on business relevance and client qualification\nAt the end of the summary, include a clear recommendation: \"Recommended: Approve\" or \"Recommended: Reject\".\n\nOutput Requirements:\n\nReturn only plain text.\nDo not include markdown formatting.\nDo not use bullet points, symbols, or special characters such as *, **, -, or numbered lists.\nDo not include headings or labels.\nKeep the response concise and structured.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1888,
        160
      ],
      "id": "71112cd5-3dc4-47de-a4f7-890e81acd1fc",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1888,
        368
      ],
      "id": "28eecc39-b88f-4408-9b20-360db47347ad",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GzZB1QFK5O0xyivB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Lead Scoring Engine\n",
        "height": 752,
        "width": 1904,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        -224
      ],
      "typeVersion": 1,
      "id": "3b8e831e-c6b2-4799-b2ab-134efc11bab8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f47f4b2c-5fad-48c8-8643-3ab1b1583dc7",
              "name": "name",
              "value": "={{ $('If valid?').item.json.first_name }} {{ $('If valid?').item.json.last_name }}",
              "type": "string"
            },
            {
              "id": "7d2cf64d-8ddf-47cc-875d-300060d9f3f1",
              "name": "company",
              "value": "={{ $('If valid?').item.json.company }}",
              "type": "string"
            },
            {
              "id": "2f96d715-d70c-471c-872f-09672cd4b384",
              "name": "industry",
              "value": "={{ $('If valid?').item.json.industry }}",
              "type": "string"
            },
            {
              "id": "d44ba50b-4e58-4c41-9391-09d443c5bdbe",
              "name": "website",
              "value": "={{ $('If valid?').item.json.website }}",
              "type": "string"
            },
            {
              "id": "380f3ffa-12fc-47de-bb3c-266009ef1a9e",
              "name": "service",
              "value": "={{ $('If valid?').item.json.service }}",
              "type": "string"
            },
            {
              "id": "4647e005-60d2-4f26-a3a2-bd1fb8ae5397",
              "name": "budget_usd",
              "value": "={{ $('If valid?').item.json.budget_usd }}",
              "type": "number"
            },
            {
              "id": "edb3b50e-9532-44c8-94b5-ed784c9a98b9",
              "name": "description",
              "value": "={{ $('If valid?').item.json.description }}",
              "type": "string"
            },
            {
              "id": "41fdc1f2-791e-4249-a2c4-f603594f81f8",
              "name": "email",
              "value": "={{ $('If valid?').item.json.email }}",
              "type": "string"
            },
            {
              "id": "3d978db0-412f-4433-b142-5d53250ca4c9",
              "name": "id",
              "value": "={{ $('Upsert Lead').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        -96
      ],
      "id": "8ed14c12-f2df-4e3f-acae-288234b866bd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hLQkC9QQK3TaJFni",
          "mode": "list",
          "cachedResultUrl": "/workflow/hLQkC9QQK3TaJFni",
          "cachedResultName": "Lead Outreach Engine"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2144,
        -96
      ],
      "id": "5d57f1ff-e7f7-47b1-91d7-ee642f5fdd94",
      "name": "Call 'Lead Outreach Engine'"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.kingvenreb.dev",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36 Edg/146.0.0.0",
            "content-length": "541",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "accept-language": "en-US,en;q=0.9",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "158.62.11.7",
            "cf-ipcountry": "PH",
            "cf-ray": "9de93b743c83c3b4-SIN",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-warp-tag-id": "76115a4b-4317-4ab8-bc60-294f015b9c4c",
            "connection": "keep-alive",
            "content-type": "application/json",
            "origin": "http://localhost:4200",
            "priority": "u=1, i",
            "referer": "http://localhost:4200/",
            "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Microsoft Edge\";v=\"146\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "158.62.11.7",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "firstName": "King",
            "lastName": "Richards",
            "email": "kxngvxnrxbnxrxg@gmail.com",
            "phone": "09210034373",
            "company": "test org",
            "website": "https://kingvenreb.dev",
            "industry": "SaaS",
            "service": "Automation Setup",
            "budget": "15000",
            "message": "test only please ignore",
            "consent": true,
            "submittedAt": "2026-03-19T03:01:22.993Z",
            "source": "Angular Lead Ops Intake Funnel",
            "pageUrl": "http://localhost:4200/",
            "userAgent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36 Edg/146.0.0.0",
            "env": "dev"
          },
          "webhookUrl": "https://n8n.kingvenreb.dev/webhook/typeform/intake",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract + Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Lead": {
      "main": [
        [
          {
            "node": "Upsert Lead Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Failed": {
      "main": [
        [
          {
            "node": "Notify Validation Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Validation Failed": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If valid?": {
      "main": [
        [
          {
            "node": "Upsert Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract + Normalize Data": {
      "main": [
        [
          {
            "node": "If valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Lead Success": {
      "main": [
        [
          {
            "node": "Score Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Lead": {
      "main": [
        [
          {
            "node": "Update Lead Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Score": {
      "main": [
        [
          {
            "node": "Insert Lead Score Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Lead Score Event": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Update status to approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update status to pending",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update status to review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update status to pending": {
      "main": [
        [
          {
            "node": "Insert approval request event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update status to approved": {
      "main": [
        [
          {
            "node": "Insert auto approved event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update status to review": {
      "main": [
        [
          {
            "node": "Insert low score event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert low score event": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Insert approval request event": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'Lead Outreach Engine'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert auto approved event": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "HgfbrTcV1vTYGfg6",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "38fe5c62-1f51-4e3f-a0b4-1913af962738",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75a203da2afa4f9088428b5121cafd52867cf04f552dbee25573576faa37906a"
  },
  "id": "qZCxMc6AGSA3dmku",
  "tags": []
}